<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS mặc định -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylecart.css">
    <link rel="stylesheet" type="text/css" href="~/Content/productlist.css">
    <link rel="stylesheet" type="text/css" href="~/Content/checkout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/checkin.css">

    <script src="https://kit.fontawesome.com/7cc90e9c3e.js" crossorigin="anonymous"></script>

    <!-- Render section Styles từ view con nếu có -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <button onclick="topFunction()" id="upBtn" title="Go to top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    @Html.Partial("_Header")

    <main>
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    <!-- Render section Scripts từ view con nếu có -->
    @RenderSection("Scripts", required: false)
</body>
</html>
