<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS -->


    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7cc90e9c3e.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="@Url.Content("~/js/index.js")" asp-append-version="true"></script>

</head>
<body>
    @Html.Partial("_Header")

    <main>
        @RenderBody()
    </main>

    <!-- Nút cuộn lên đầu trang -->
    <button onclick="topFunction()" id="upBtn" title="Go to top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    @Html.Partial("_Footer")
</body>
</html>
